@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
    box-sizing: border-box;
}

body {
    background: url('backgroundlogin.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    margin: -20px 0 50px;
}

h1 {
    font-family: 'Copperplate', fantasy;
    color: #B63434;
    font-weight: bold;
    font-size: 48px;
    margin: 0; 
}

p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}

span {
    font-size: 12px;
}

a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

button {
    font-family: 'Verdana', sans-serif;
    border-radius: 50px;
    border: 1px solid #FFDAE0;
    background-color: #FFDAE0;
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

button:hover {
    background-color: #AAC5F5; /* Change color on hover */
}

button:active {
    background-color: #6495ED; /* Change color when clicked */
}

form {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    position: relative;
    overflow: hidden;
    width: 800px;
    max-width: 100%;
    min-height: 80px;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
}

.log-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
}

.slider-container {
            position: relative;
            left: 50%;
            width: 80%;
            height: 100%;
            max-width: 100%;
            overflow: hidden;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.slide {
  min-width: 100%;
  box-sizing: border-box;
  overflow: hidden; /* Ensure images don't overflow their container */
}
.slide img {
   width: 100%; /* Make images take up the full width of the container */
   height: 100%; /* Maintain aspect ratio */
   min-height: 480px;
   display: block; /* Remove extra space below inline images */
}